.container-fluid {
  padding: 0;
  margin: 0;
}

.col-md-12 {
  padding: 0 !important;
}

.background-img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.bg-black {
  background-color: black !important;
}

.navbar {
  font-size: large;
}
